body{
    background-color: pink;
    margin: 200px;
    display: inline-block;

    
}
h1{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
h3{
    color:green;
    text-align: center;
}
#catpic{
    width: 300px;
    height: 300px;
}
#links{
    text-align: center;
}

